@charset "utf-8";
@use '../foundation/mixins' as *;

/* ============================================
// フッター
// ==========================================*/
.footer {
  background-color: $txt-color;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 16px;
  @include mq(sp) {
    padding-top: 24px;
  }
  a {
    color: #fff;
  }

  .pagetop {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @include mq(sp) {
        height: 24px;
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @include mq(sp) {
      flex-direction: column-reverse;
      margin-top: 12px;
    }

    &__left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include mq(sp) {
        margin-top: 32px;
      }
    }
    &__right {

    }
  }

  &__nav {
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &__item {
        margin-right: 40px;
        @include mq(sp) {
          margin-right: 24px;
        }
        &:last-child {
          margin-right: 0;
        }
        .eng {
          font-size: 2rem;
          @include mq(sp) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  &__commonIcon {
    margin-left: 20px;
    @include mq(sp) {
      margin-left: 12px;
    }
  }
  &__cr {
    text-align: right;
    font-size: 1.4rem;
    margin-top: 48px;
    @include mq(sp) {
      margin-top: 40px;
      font-size: 1rem;
      text-align: center;
    }
  }
}
