@charset "utf-8";
@use '../foundation/mixins' as *;

/* ============================================
// ハンバーガーメニュー
// ==========================================*/
.hamburger {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999999999;
	opacity: 0;
	visibility: hidden;
	transform: translate(0,0);
	background-repeat: repeat;
	background-size: contain;
	width: 100%;
	height: 100%;

	.js-loaded & {
		transition: opacity 0.5s ease,visibility 0.5s ease;
	}
	&.js-open {
		opacity: 1;
		visibility: visible;
		.hamburger__menu__inner {
			opacity: 1;
			transform: scale(1);
		}
	}
	&__menu {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 72px;
		overflow-y: auto;
		position: relative;
		max-width: 1000px;
		margin: auto;
		flex-direction: column;

		@include mq(sp) {
			padding: 20px 7% 64px;
		}

		&__inner {
			width: 100%;
			margin: auto;
			transform: scale(1.2);
			opacity: 0;
			transition: transform 0.4s, opacity 0.4s;
		}
		&__box {
			position: relative;
			background-color: #fff;
			padding: 72px 6.8% 56px;
			@include mq(sp) {
				padding: 44px 10% 24px;
			}
			// 破線
			&::before {
				content: "";
				background-image: linear-gradient(to right, $primary-color, $primary-color 10px, transparent 10px, transparent 20px),
				linear-gradient(to right, $primary-color, $primary-color 10px, transparent 10px, transparent 20px),
				linear-gradient(to bottom, $primary-color, $primary-color 10px, transparent 10px, transparent 20px),
				linear-gradient(to bottom, $primary-color, $primary-color 10px, transparent 10px, transparent 20px);
				background-size: 20px 5px, 20px 5px, 5px 20px, 5px 20px;
				background-position: left top, left bottom, left top, right top;
				background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
				position: absolute;
				top: 10px;
				bottom: 10px;
				left: 10px;
				right: 10px;
				pointer-events: none;
				@include mq(sp) {
					background-image: linear-gradient(to right, $primary-color, $primary-color 8px, transparent 8px, transparent 16px),
					linear-gradient(to right, $primary-color, $primary-color 8px, transparent 8px, transparent 16px),
					linear-gradient(to bottom, $primary-color, $primary-color 8px, transparent 8px, transparent 16px),
					linear-gradient(to bottom, $primary-color, $primary-color 8px, transparent 8px, transparent 16px);
					background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
					top: 8px;
					bottom: 8px;
					left: 8px;
					right: 8px;
				}
			}
		}
		&__close {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;
			position: absolute;
			top: 24px;
			right: 24px;
			cursor: pointer;
			transition: background $transition-time, opacity $transition-time, border $transition-time;
      z-index: 2;
			// background-color: $primary-color;
			background-color: #fff;
			border: 3px solid #fff;
			box-shadow: 0px 0px 15px 0px rgba(#000,0.1);
			@include mq(hover) {
				&:hover {
					background-color: $primary-color;
					span {
						background-color: #fff;
					}
				}
			}
			@include mq(sp) {
				top: 20px;
				right: 20px;
				width: 56px;
				height: 56px;
			}
			& > span{
				display: block;
				width: 24px;
				height: 2px;
				// background: rgba(#fff,1);
				background-color: $primary-color;
				transition: background $transition-time;
				@include mq(sp) {
					// width: 20px;
					height: 1px;
				}
				&:nth-child(1){
					transform: rotate(45deg) translate(0,1px);
				}
				&:nth-child(2){
					transform: rotate(-45deg) translate(0,-1px);
				}
			}
		}
	}
	&__commonLogo {
		z-index: 10;
		text-align: center;
		padding-bottom: 40px;
		@include mq(sp) {
			padding-bottom: 24px;
		}
		a {
			justify-content: center !important;
		}
    img {
      @include mq(sp) {
        height: 74px;
      }
    }
	}
	&__nav {
		&__list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include mq(sp) {
				display: block;
			}
			&__item {
				flex: 0 0 50%;
				font-weight: bold;
				border-top: 1px solid #e5e5e5;
				line-height: 1.6;
				@include mq(pc) {
					&:nth-child(odd){
						border-right: 1px solid #e5e5e5;
					}
				}
				@include mq(sp) {
					&:last-child {
						a {
							padding-bottom: 28px;
						}
					}
				}
				a {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 32px 16px;
					transition: opacity 0.3s;
					height: 100%;
					@include mq(hover) {
						&:hover {
							&:after {
								animation: icon-l-r 300ms ease-in;
							}
						}
					}
					@include mq(sp) {
						padding: 20px;
						background-position: right 10px center;
						background-size: auto 12px;
					}
					// &:after{
					// 	content: '';
					// 	position: absolute;
					// 	right: 36px;
					// 	top: calc(50% - 4px);
					// 	width: 8px;
					// 	height: 8px;
					// 	border-right: 2px solid;
					// 	border-bottom: 2px solid;
					// 	transform: rotate(-45deg);
          //   @include mq(sp) {
          //     right: 20px;
					// 		width: 6px;
					// 		height: 6px;
					// 		top: calc(50% - 3px);
          //   }
					// }
				}
        .ja {
          // font-size: 1.6rem;
					font-size: 2rem;
					line-height: 1;
					// margin-top: 12px;
          @include mq(sp) {
            font-size: 1.6rem;
						// margin-top: 8px;
          }
        }
        .eng {
          // font-size: 2.2rem;
					font-size: 1.2rem;
          margin-top: 12px;
					line-height: 1;
					transition: color $transition-time, letter-spacing $transition-time;
          @include mq(sp) {
            font-size: 1.2rem;
            margin-top: 8px;
          }
        }
			}
		}
	}

  // スクロールバー
	::-webkit-scrollbar{
		width: 3px;
	}
	::-webkit-scrollbar-track{
		// background-color: #fff;
    background-color: transparent;
	}
	::-webkit-scrollbar-thumb{
		// background-color: $primary-color;
    background-color: transparent;
	}
}

/* ============================================
// ヘッダー
// ==========================================*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	padding: 30px 50px;
	@include mq(sp) {
		padding: 16px 20px;
	}


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__commonLogo {

	}
	&__links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
		@include mq(sp) {
      display: none;
		}
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &__item {
        position: relative;
        white-space: nowrap;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
      .eng {
        font-weight: bold;
				font-size: 2rem;
      }
    }
  }
	&__commonIcon {
		@include mq(sp) {
			display: none;
		}
	}
	&__hamburger {
		@include mq(pc) {
			display: none;
		}

		.txt {
			margin-right: 24px;
			@include mq(sp) {
				display: none;
			}
		}
		.btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 72px;
			height: 72px;
			background-color: $txt-color;
			cursor: pointer;
			transition: color $transition-time, background $transition-time, opacity $transition-time;
			@include mq(sp) {
				width: 48px;
				height: 48px;
			}
			span {
				width: 24px;
				height: 2px;
				margin: 3px 0;
				background: rgba(#fff,1);
				transition: background $transition-time;
				@include mq(sp) {
					width: 20px;
					height: 1px;
				}
			}
		}
	}
}
