@charset "utf-8";
@use '../foundation/mixins' as *;

/* ============================================
// ハンバーガーメニュー
// ==========================================*/
.hamburger {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999999999;
	opacity: 0;
	visibility: hidden;
	transform: translate(0,0);
	background-repeat: repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url(../img/common/mv_bg_text.png);
	background-size: auto;
	background-repeat: repeat;
	@include mq(sp) {
		background-size: contain;
	}

	.js-loaded & {
		transition: opacity 0.5s ease,visibility 0.5s ease;
	}
	&.js-open {
		opacity: 1;
		visibility: visible;
		.hamburger__menu__inner {
			opacity: 1;
			transform: scale(1);
		}
	}
	&__menu {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 48px 7%;
		overflow-y: auto;
		position: relative;
		max-width: calc(500px + 7%);
		margin: auto;
		flex-direction: column;

		&__inner {
			width: 100%;
			margin: auto;
			transform: scale(1.2);
			opacity: 0;
			transition: transform 0.4s, opacity 0.4s;
		}
		&__wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 24px;
		}
		&__close {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 16px;
			right: 20px;
			width: 48px;
			height: 48px;
			position: absolute;
			cursor: pointer;
			transition: background $transition-time, opacity $transition-time, border $transition-time;
      z-index: 2;
			background-color: $txt-color;
			& > span{
				display: block;
				width: 20px;
				height: 1px;
				background: rgba(#fff,1);
				transition: background $transition-time;
				&:nth-child(1){
					transform: rotate(45deg) translate(0,1px);
				}
				&:nth-child(2){
					transform: rotate(-45deg) translate(0,-1px);
				}
			}
		}
	}
	&__commonLogo {
		z-index: 10;
		.eng {
			font-size: 2.4rem;
		}
	}
	&__nav {
		&__list{
			&__item {
				flex: 0 0 50%;
				font-weight: bold;
				line-height: 1.6;
				border-top: 1px solid rgba($txt-color,1);
				&:last-child {
					border-bottom: 1px solid rgba($txt-color,1);
				}

				a {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					transition: opacity 0.3s;
					height: 100%;
					padding: 20px;

					&:after {
						content: "";
						position: absolute;
						right: 20px;
						top: 50%;
						width: 10px;
						height: 10px;
						margin-top: -5px;
						border: 2px solid $txt-color;
						box-sizing: border-box;
						border-color: $txt-color $txt-color transparent transparent;
						transform: rotate(45deg);
					}
				}
        .eng {
					font-size: 1.8rem;
					line-height: 1;
					transition: color $transition-time, letter-spacing $transition-time;
        }
			}
		}
	}
	&__commonIcon {
		margin-left: 20px;
	}

  // スクロールバー
	::-webkit-scrollbar{
		width: 3px;
	}
	::-webkit-scrollbar-track{
		// background-color: #fff;
    background-color: transparent;
	}
	::-webkit-scrollbar-thumb{
		// background-color: $primary-color;
    background-color: transparent;
	}
}

/* ============================================
// ヘッダー
// ==========================================*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	padding: 30px 50px;
	@include mq(sp) {
		padding: 16px 20px;
	}


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__commonLogo {

	}
	&__links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
		@include mq(sp) {
      display: none;
		}
    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &__item {
        position: relative;
        white-space: nowrap;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
      .eng {
        font-weight: bold;
				font-size: 2rem;
      }
    }
  }
	&__commonIcon {
		@include mq(sp) {
			display: none;
		}
	}
	&__hamburger {
		@include mq(pc) {
			display: none;
		}

		.txt {
			margin-right: 24px;
			@include mq(sp) {
				display: none;
			}
		}
		.btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 72px;
			height: 72px;
			background-color: $txt-color;
			cursor: pointer;
			transition: color $transition-time, background $transition-time, opacity $transition-time;
			@include mq(sp) {
				width: 48px;
				height: 48px;
			}
			span {
				width: 24px;
				height: 2px;
				margin: 3px 0;
				background: rgba(#fff,1);
				transition: background $transition-time;
				@include mq(sp) {
					width: 20px;
					height: 1px;
				}
			}
		}
	}
}
