@charset "utf-8";
@use '../foundation/mixins' as *;

/* ============================================
// トップページ
// ==========================================*/
.front-page {

  // メインビジュアル
  .mainVisual {
    position: relative;
    text-align: center;
    background-image: url(../img/common/mv_bg_text.png);
    background-size: auto;
    background-repeat: repeat;
    @include mq(sp) {
      background-size: contain;
    }
    &__hero {
      position: relative;
      display: inline-block;
      padding-top: 96px;
      z-index: 2;
      @include mq(sp) {
        padding-top: 80px;
      }

      &__human {
        img {
          @include mq(sp) {
            height: 251px;
          }
        }
      }
      &__pc {
        position: absolute;
        bottom: 16px;
        right: -100px;
        @include mq(sp) {
          right: -32px;
          bottom: 8px;
        }

        img {
          @include mq(sp) {
            height: 92px;
          }
        }
      }
    }
    &__copy {
      font-size: min(8.33vw, 12rem);
      line-height: 1;
      position: absolute;
      top: 120px;
      left: 50%;
      white-space: nowrap;
      @include mq(sp) {
        font-size: min(9vw, 5rem);
      }

      &__fill {
        .eng {

        }
      }
      &__border {
        .eng {
          color: #fff;
          -webkit-text-stroke: 1px $txt-color;
          text-stroke: 1px $txt-color;
        }
      }
    }
    &__yellowLine {

    }
  }

  section {
    padding-top: 80px;
    padding-bottom: 100px;
    @include mq(sp) {
      padding-top: 48px;
      padding-bottom: 56px;
    }
  }
  // About
  .sec__about {
    background-color: $txt-color;
    color: #fff;
    position: relative;
    padding-top: 72px;
    padding-bottom: 80px;
    @include mq(sp) {
      padding-top: 48px;
      padding-bottom: 56px;
    }

    // 背景画像
    &::before {
      content: '';
      display: inline-block;
      background-image: url(../img/index/about_bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
      filter: blur(3px);
    }

    a {
      color: #fff;
    }

    .about {
      &__inner {

      }
      &__head {

      }
      &__body {
        margin-top: 40px;
        @include mq(sp) {
          margin-top: 24px;
        }
        .desc {
          font-size: 1.6rem;
          @include mq(sp) {
            font-size: 1.5rem;
          }
        }
      }

      &__commonBtn01 {
        text-align: right;
        margin-top: 40px;
        @include mq(sp) {
          margin-top: 24px;
        }
      }
    }
  }
  // Skills
  .sec__skills {
    background-image: url(../img/index/skills_bg.png);
    background-size: auto;
    background-repeat: repeat;

    .skills {
      &__inner {

      }
      &__head {

      }
      &__body {
        margin-top: 56px;
        @include mq(sp) {
          margin-top: 40px;
        }
      }

      &__list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 50px 5%;
        @include mq(sp) {
          display: block;
        }

        &__item {
          flex: 0 0 47.5%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          @include mq(sp) {
            margin-top: 40px;
            &:first-child {
              margin-top: 0;
            }
          }

          .imgArea {
            flex: 0 0 120px;
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 1px solid $txt-color;
            margin-right: 24px;
            @include mq(sp) {
              flex: 0 0 90px;
              width: 90px;
              height: 90px;
              margin-right: 16px;
            }

            .img {
              img {
                @include mq(sp) {
                  transform: scale(0.7);
                }
              }
            }
          }
          .txtArea {
            flex: 1 1 auto;
            .term {
              font-family: $eng;
              font-size: 2rem;
              line-height: 1;
              margin-top: 4px;
              @include mq(sp) {
                font-size: 1.7rem;
              }
            }
            .desc {
              line-height: 1.6;
              margin-top: 12px;
              @include mq(sp) {
                margin-top: 8px;
              }
            }
          }

          .termArea {
            flex: 0 0 120px;
            text-align: center;
            margin-right: 24px;
            .term {
              font-size: 2rem;
              font-family: $eng;
              line-height: 1;
            }
            .img {
              width: 120px;
              height: 120px;
              background-color: #fff;
              border: 1px solid $txt-color;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 8px;
            }
          }
          .descArea {
            .desc {

            }
          }
        }
      }
    }
  }
  // Works
  .sec__works {
    position: relative;

    .works {
      &__commonYellowLine {
        transform: translateX(-127%) skew(-25deg);
        @include mq(tab) {
          transform: translateX(-125%) skew(-25deg);
        }
        @include mq(sp) {
          width: 200px;
          transform: translateX(-156%) skew(-25deg);
        }
      }
      &__inner {

      }
      &__head {
        position: relative;
      }
      &__body {
        margin-top: 56px;
        @include mq(sp) {
          margin-top: 40px;
        }
      }

      &__commonBtn01 {
        text-align: right;
        margin-top: 48px;
        @include mq(sp) {
          margin-top: 24px;
        }
      }
    }
  }


}

/*--------------------
	FV アニメーション
--------------------*/
.front-page {
  .mainVisual {
    overflow: hidden;
    &__hero {
      opacity: 0;
      transform: scale(1.1) translateY(-10px);
      // transform: scale(1.2);
      // transform: translateY(40px);
      transition:  opacity 0.4s, transform 0.4s;
      transition-delay: 2.05s + 0.5s;
    }
    &__copy {
      // opacity: 0;
      // transform: translateX(-50%) scale(1.3);
      // transition:  opacity 0.4s, transform 0.4s;
      // transition-delay: 0.4s;

      &__fill {
        .split {
          > span {
            display: inline-block;
            opacity: 0;
            transform: scale(1.5);
            transition:  opacity 0.4s, transform 0.4s;

            @for $i from 1 through 18 {
              &:nth-child(#{$i}) {
                transition-delay: ($i * 0.05s) + 0.4s;
              }
            }
          }
        }
      }
      &__border {
        .split {
          > span {
            display: inline-block;
            opacity: 0;
            transform: scale(1.5);
            transition:  opacity 0.4s, transform 0.4s;

            @for $i from 1 through 30 {
              &:nth-child(#{$i}) {
                transition-delay: ($i * 0.05s) + 1.4s;
              }
            }
          }
        }
      }
    }
  }
  &.js-loaded {
    .mainVisual {
      &__hero {
        opacity: 1;
        transform: scale(1) translateY(0);
        // transform: scale(1);
        // transform: translateY(0);
      }
      &__copy {
        opacity: 1;
        transform: translateX(-50%) scale(1);

        .split {
          > span {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
