@charset "utf-8";
@use '../foundation/mixins' as *;

/* ============================================
// MODULES
// ==========================================*/

/*--------------------
	pageHeader
--------------------*/
.pageHeader {
	padding: 100px;
	background-image: url(../img/common/mv_bg_text.png);
	background-size: auto;
	background-repeat: repeat;
	position: relative;
	@include mq(sp) {
		background-size: contain;
		padding: 76px 20px 50px;
	}
	&__commonYellowLine {

	}
	&__ttl {
		text-align: center;
		position: relative;
		z-index: 2;
		.eng {
			font-size: 6.4rem;
			@include mq(sp) {
				font-size: 3.2rem;
			}

			span {
				opacity: 0;
				display: inline-block;
			}
		}
	}
}
.js-loaded {
	.pageHeader {
		&__ttl {
			.eng {
				@for $i from 1 through 30 {
					span:nth-child(#{$i}) {
						@include animation(
							zoomIn 400ms ease-in-out ($i * 35ms)
						);
					}
				}
			}
		}
	}
}

/*--------------------
	breadcrumb
--------------------*/
.breadcrumb {
	margin-left: 24px;
	position: relative;
	z-index: 1000;
	max-width: 600px;
	background-color: #fff;
	// padding: 0 24px;
	@include mq(tab) {
		max-width: 480px;
	}
	@include mq(sp) {
		max-width: none;
		margin: 0;
		padding: 0 16px;
	}
	// スクロールバー
	::-webkit-scrollbar{
		width: 3px;
		height: 3px;
	}
	::-webkit-scrollbar-track{
		background-color: #f0f0f0;
		// background-color: $primary-color;
	}
	::-webkit-scrollbar-thumb{
		// background-color: $primary-color;
		background-color: $primary-color;
	}

	&__list{
		position: relative;
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
		padding: 16px 20px;
		@include mq(sp) {
			padding: 6px 0;
		}
		&__item{
			display: inline;
			font-size: 1.2rem;
			color: #999999;
			margin: 0 2px;
			@include mq(sp) {
				font-size: 1.2rem;
			}
			&::after{
				content: "\003e";
				margin-left: 7px;
			}
			&:last-child{
				&::after{
					display: none;
				}
			}
			a{
				color: #999999;
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}

	.nonePageHeader & {
		max-width: none;
		margin-left: 24px;
		margin-right: 24px;
		@include mq(sp) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/*--------------------
	commonHead
--------------------*/
.commonHead01 {
	text-align: center;
	.eng {
		display: inline-block;
		font-size: 4rem;
		line-height: 1;
		@include mq(sp) {
			font-size: 2.4rem;
		}
	}

	&.-white {
		color: #fff;
	}
	&.-black {
		color: $txt-color;
	}
}
.commonHead02 {
	position: relative;

	// yellow line
	&::before {
		content: '';
		display: inline-block;
		background-color: #FFDE30;
		width: 30px;
		height: 80px;
		position: absolute;
		top: -8px;
		left: 50%;
		transform: translateX(-50%) skew(-25deg);
		@include mq(sp) {
			height: 64px;
		}
	}

	.ja {
		font-size: 2.8rem;
		font-weight: bold;
		position: relative;
		z-index: 2;
		@include mq(sp) {
			font-size: 2rem;
		}
	}
}

/*--------------------
	commonBtn
--------------------*/
.commonBtn01 {
	padding-bottom: 4px;
	a {
		position: relative;
		display: inline-block;
		padding-right: 68px;
		transition: transform $transition-time;
		@include mq(hover) {
			&:hover {
				transform: translateX(12px);
			}
		}
		@include mq(sp) {
			padding-right: 40px;
		}
	}
	.eng {
		font-size: 1.8rem;
		@include mq(sp) {
			font-size: 1.6rem;
		}
	}
	.arrow {
		position: absolute;
		bottom: -4px;
		left: 0;

		img {
			@include mq(sp) {
				height: 12px;
			}
		}
	}
}

/*--------------------
	commonLogo
--------------------*/
.commonLogo {
	a {
		display: inline-block;
	}
	.eng {
		display: inline-block;
		font-size: 2.4rem;
		line-height: 1;
		@include mq(sp) {
			font-size: 2rem;
		}
	}

	&.-black {
		.eng {
			color: $txt-color;
		}
	}
	&.-white {
		.eng {
			color: #fff;
		}
	}
}

/*--------------------
	commonIcon
--------------------*/
.commonIcon {
	width: 50px;
	height: 50px;
	@include mq(sp) {
		width: 40px;
		height: 40px;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	.icon {
		display: flex;
	}
	img {
		@include mq(sp) {
			height: 16px;
		}
	}

	&.-black {
		a {
			background-color: $txt-color;
		}
	}
	&.-white {
		a {
			background-color: #fff;
		}
	}
}

/*--------------------
	commonYellowLine
--------------------*/
.commonYellowLine {
	display: inline-block;
	background-color: $primary-color;
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) skew(-25deg);
	@include mq(sp) {
		width: 150px;
	}
}

/*--------------------
	commonLink
--------------------*/
.commonLink01 {
}

/*--------------------
	commonWorksList
--------------------*/
.commonWorksList {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 50px 5%;
	flex-wrap: wrap;
	@include mq(sp) {
		display: block;
	}

	&__item {
		flex: 0 0 30%;
		max-width: 300px;
		@include mq(sp) {
			margin: 0 auto;
			margin-top: 40px;
			&:first-child {
				margin-top: 0;
			}
		}

		a {
			display: block;
			@include mq(hover) {
				&:hover {
					img {
						transform: scale(1.05);
					}
				}
			}
		}
		.imgArea {
			position: relative;

			.badge {
				width: 60px;
				height: 60px;
				background-color: $primary-color;
				border: 1px solid $txt-color;
				display: flex;
				justify-content: center;
				align-content: center;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-50%,-50%);
				z-index: 2;
				display: none;

				.eng {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					line-height: 1;
				}
			}
			.img {
				@include keepAspect(66.66667%);
				overflow: hidden;

				// ボーダー
				&::after {
					content: '';
					display: inline-block;
					border: 1px solid $txt-color;
					width: calc(100% - 2px);
					height: calc(100% - 2px);
					position: absolute;
					top: 0;
					left: 0;
				}

				img {
					transition: transform $transition-time;
				}
			}
		}
		.workStyle {
			font-size: 1.2rem;
			border: 1px solid $txt-color;
			border-radius: 300px;
			padding: 2px 20px;
			margin-top: 10px;
			display: inline-block;
			background-color: #fff;
			@include mq(sp) {
				font-size: 1.1rem;
				padding: 2px 16px;
				margin-top: 8px;
			}
		}
	}
}

/*--------------------
	pagination
--------------------*/
.pagination{
	display: block;
	position: relative;
	z-index: 5;
	ul {
		display: flex;
		justify-content: center;
		li {
			text-align: center;
			font-size: 1.4rem;
			@include mq(sp) {
				font-size: 1.2rem;
			}
			a,em {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				// border: 1px solid $primary-color;
				color: $txt-color;
				width: 32px;
				height: 32px;
				line-height: 32px;
				background: #fff;
				font-family: $eng;
				font-style: normal;
				overflow: hidden;
				border-radius: 50%;
				transition: background $transition-time, color $transition-time;
				@include mq(sp) {
					width: 28px;
					height: 28px;
					line-height: 28px;
				}
				&:before {
					content: "";
					display: block;
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			a {
				opacity: 1;
				background-color: #f3f3f3;
				@include mq(hover) {
					&:hover {
						background: $primary-color;
					}
				}
			}
			em {
				background: $primary-color;
			}
		}
		.prev,
		.next {
			a {
				color: $txt-color;
				border: none;
				background-color: transparent;
				transition: opacity $transition-time;
				&::before {
					content: none;
				}
				@include mq(hover) {
					&:hover {
						background-color: transparent;
						color: $txt-color;
						opacity: 0.7;
					}
				}
			}
		}
		.number {
			display: none;
			@include mq(pc) {
				display: inline-block;
			}

			&.current {
				@include mq(sp) {
					display: inline-block;
				}
			}
		}
	}

	&.-medium {
		ul {
			li {
				a,em {
					margin: 0 2px;
					@include mq(sp) {
						margin: 0;
					}
				}
			}
		}
	}
	&.-large {
		display: inline-block;

		ul {
			li {
				font-size: 1.5rem;
				a,em{
					width: 44px;
					height: 44px;
					line-height: 44px;
					margin: 0 4px;
					@include mq(sp) {
						width: 36px;
						height: 36px;
						line-height: 36px;
					}
				}
			}
		}
	}
}

/*--------------------
	result_total
--------------------*/
.result_total {
	font-size: 2.8rem;
	flex: 1 1 50%;
	@include mq(sp) {
		font-size: 2.2rem;
	}
	&_all {
		position: relative;
		top: 2px;
		font-weight: bold;
		color: $primary-color;
		margin-right: -0.2em;
	}
	&_txt {
		font-size: .7em;
		font-weight: bold;
		margin-right: -0.2em;
	}
	&_current {
		font-size: 0.5em;
	}
}

/*--------------------
	countPager
--------------------*/
.countPager {
	display: flex;
	&.-top {
		justify-content: space-between;
		align-items: center;
	}
	&.-bottom {
		display: block;
		text-align: center;
		align-items: center;
		flex-direction: column;
	}
}
